.side-bar{
  position: fixed;
  top: 0;
  left: 0;
  width: 160px;
  background-color: rgba(255, 255, 255, 0.1);
  height: 100vh;
  transform: translateX(-140px);
  transition: transform .4s ease-in-out;
  &:hover{
    transform: translateX(0);
  }
  &::after{
    content:"";
    display:block;
    position:absolute;
    top:calc(50% - 10px);
    right: 0;
    border-radius: 50%;
    border: 10px solid #fff;
  }
  dl{
    dt{
      a{
        display: block;
        height:40px;
        line-height:40px;
        font-size: 30px;
        text-align: center;
        text-decoration: none;
      }
    }
  }
}